body {
  font-family: Georgia, serif;
  font-size: 16px;
}
.content{
  max-width: 800px;
  margin: auto;
  margin: 50px auto;
}

.title{
  text-align: center;
}

#sub {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.viz1, .viz2, .viz3, .viz4 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  max-width: 700px;
  margin: 50px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: .3fr auto;
}

.grid-item {
  margin: 5px 0px 5px 0px;
}

.pie-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tooltip1 {
  position: absolute;
  font-size: 12px;
  width:  200px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  height: auto;
  pointer-events: none;
  background-color: white;

}

.tooltip2, .tooltip3, .tooltip4 {
  position: sticky;
  font-size: 12px;
  width: 200px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  height: auto;
  pointer-events: none;
  background-color: white;
}